body {
    background-color: aquamarine;
}

ul {
    list-style-type: none;
   
}

a {
    font-size: 17px;
}

.qdhome {
    max-width: 250px;
    max-height: 250px;
}

#qdimg3{
    max-height: auto;
    max-width: 500px;
}

.homeimages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: DodgerBlue;
    flex-direction: row;
    flex-flow: row;
}